python-dateutil~=2.9.0.post0
tzdata~=2026.1
schedule~=1.2.2
selenium~=4.46.0
seleniumbase~=4.51.10
requests~=2.34.2
google-api-python-client~=2.198.0
google-auth-httplib2~=0.4.0
black>=26.5.1,<27.0.0
filelock>=3.32.2,<4.0.0
ruff~=0.16.1
